.header{
    text-align: center;
    border: solid 1px rgb(238, 80, 80);
}

.body{
    margin-top: 10px;
    text-align: center;
    width: 100%;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: solid 1px rgb(238, 80, 80);

}

.new_movies{
    margin-top: 10px;
    text-align: center;
    width: 100%;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    border: solid 1px rgb(238, 80, 80);}



.carrosel{
    position: absolute;
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border: rgb(51, 245, 2) solid 2px;
}

.carousel_top20{
    border: black solid 2px;
    position: relative;
    height: 300px;
    width: 100%;
}
.footer{
    padding: 20px;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    bottom: 0;
    width: 100%;

}
